<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qzx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SQBSicon</string>
			<key>CFBundleTypeName</key>
			<string>Tournament file for Mac OSX</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.deckdirector.tournamentOSXfiletype</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Tournament</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Tournament file for Windows</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Tournament</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qzxs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SQBS_ScoringIcon</string>
			<key>CFBundleTypeName</key>
			<string>Game Score information from SQBS Scoring App</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.deckdirector.scoringAppfiletype</string>
			</array>
			<key>NSObject</key>
			<string>GameFileContents</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SQBS Help</string>
	<key>CFBundleHelpBookName</key>
	<string>SQBS Help</string>
	<key>CFBundleIconFile</key>
	<string>SQBSicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.deckdirector.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleSignature</key>
	<string>sqbs</string>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Neil F. Smith Consulting, Inc. All rights reserved, Chris Sewell.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SQBS OSX Tournament File</string>
			<key>UTTypeIconFile</key>
			<string>SQBSicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.deckdirector.tournamentOSXfiletype</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>qzx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SQBS Scoring App Game Results File</string>
			<key>UTTypeIconFile</key>
			<string>SQBS_ScoringIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.deckdirector.scoringAppfiletype</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>qzxs</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
